/* Tailwind layers */
@import "tailwindcss";

a.active hr {
    display: block;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #111111;
}

@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }
}
